{% load static %}

<!DOCTYPE html>
<html style="" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">
        <link rel="shortcut icon" href="{% static 'images/favicon_1.ico' %}">
        <title>登录 - chilly个人博客</title>
        <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'login/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'login/core.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'login/components.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'login/icons.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'login/pages.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'login/responsive.css' %}">
        <script src="{% static 'login/modernizr.js' %}"></script>
    </head>
	<body class="widescreen">
        
		    <div class="account-pages"></div>
    <div class="clearfix"></div>
    <div class="wrapper-page">
        {% if err_msg %}
		<div class="alert alert-danger">{{ err_msg }} <br></div>
		{% endif %}
        
    	<div class="card-box">
            <div class="panel-heading">
                <h3 class="text-center"> 登录 <strong class="text-custom">chilly个人博客</strong> </h3>
            </div>

            <div class="panel-body">
            <form class="form-horizontal m-t-20" action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" name="username" placeholder="用户名/邮箱">
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" name="password" placeholder="密码" value="">
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <div class="checkbox checkbox-primary">
                            <input id="checkbox-signup" type="checkbox" name="remember">
                            <label for="checkbox-signup">
                                记住我
                            </label>
                        </div>

                    </div>
                </div>

                <div class="form-group text-center m-t-40">
                    <div class="col-xs-12">
                        <button class="btn btn-pink btn-block text-uppercase waves-effect waves-light" type="submit">登 录</button>
                    </div>
                </div>

                <div class="form-group m-t-30 m-b-0">
                    <div class="col-sm-12">
                        <a href="#" class="text-dark"><i class="fa fa-lock m-r-5"></i> 忘记密码?</a>
                    </div>
                </div>
            </form>

            </div>
        </div>

        <div class="row">
        	<div class="col-sm-12 text-center">
        		<p>还没有账号? <a href="{% url 'register' %}" class="text-primary m-l-5"><b>注册</b></a></p>

            </div>
        </div>

    </div>
        
		<script>
			var resizefunc = [];
		</script>

		<!-- jQuery  -->
        <script src="{% static 'login/jquery_005.js' %}"></script>
        <script src="{% static 'login/bootstrap.js' %}"></script>
        <script src="{% static 'login/detect.js' %}"></script>
        <script src="{% static 'login/fastclick.js' %}"></script>
        <script src="{% static 'login/jquery_006.js' %}"></script>
        <script src="{% static 'login/jquery.js' %}"></script>
        <script src="{% static 'login/waves.js' %}"></script>
        <script src="{% static 'login/wow.js' %}"></script>
        <script src="{% static 'login/jquery_002.js' %}"></script>
        <script src="{% static 'login/jquery_007.js' %}"></script>
		<script src="{% static 'login/jquery_004.js' %}"></script>
        <script src="{% static 'login/jquery_003.js' %}"></script>
        
	
</body></html>